/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: karma;
}
/***************************************/
/*Helper Class*/
/***************************************/
.p-20{
    padding: 10px;
}
.p-30{
    padding: 30px;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.container{
    width: 1135px;
    margin: 0 auto;
}
.primary-button{
    border: none;
    background: #111;
    border-radius: 4px;
}
.secondary-button{
    border: none;
    background: #acacac;
    border-radius: 4px;
}
.badge{
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #222;
    color: #fff;
    line-height: 40px;
}
/***************************************/
/*NavBar || Header*/
/***************************************/
.navbar{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 100px;
    line-height: 50px;
}
.blog-header{
    font-size: 24px;
    font-weight: 500;
}
.side-mail{
    font-size: 24px;
}
/***************************************/
/*Food Options*/
/***************************************/
.food-choice>.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.food-options:nth-child(4){
    grid-gap: none;
}
.food-options{
    display: inline-block;
    width: 270px;
    height: 560px;
}
.food-options>h2{
    font-weight: 400;
}
/***************************************/
/*Food Options*/
/***************************************/
.hop-links p{
    display: inline-block;   
}
a{
    text-decoration: none;
    color: #fff;
}
.big-a{
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
/***************************************/
/*About*/
/***************************************/
.food-man{
    margin-top: 70px;
}
.food-man h1{
    font-weight: 400;
    padding: 30px 0;
    padding-top: 50px;
    border-top: 1px solid #eee;
}
.food-man-content h2{
    padding-top: 30px;
    font-weight: 700;
}
.food-man-content p{
    padding-top: 10px;
}
/***************************************/
/*footer*/
/***************************************/
footer{
    margin-top: 70px;
}
footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: solid 1px #eee;
    padding-top: 50px;
}
.footer h2{
    font-weight: 600;
    font-size: 23px;
}
.footer p{
    padding-top: 15px;
}
.sub-option{
    padding-top: 10px;
}
.content{
    display: inline-block;
    padding-left: 10px
}
.popular-tags p{
    padding-top: 10px;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-button{
    background: #ccc;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 2px 10px rgb(0,0,0,0.13);
    border-radius: 10px;
}
::-webkit-scrollbar-track-piece{
    background: #f7f7f7;
}
::-webkit-scrollbar-thumb{
    background: #acacac;
    border-radius: 10px;
}
::-webkit-scrollbar-corner{
    background: black;
    
}
::-webkit-scrollbar-resizer{
    background: red;
}
/****************************************************/
/****************************************************/

.menu{
    position: relative;
    top: 0;
    left: 0;    
}
.sub-menu{
    position: absolute;
    top: 60px;
    left: 30px;
    background: #CCC;
    width: 300px;
    height: 300px;
    display: none;
}
p:hover .sub-menu{
    display: block;
}